<p id="notice"><%= notice %></p>


 <%=image_tag  @post.image.url(:thumb) %>
<p>
<%=link_to  @post.image.url %>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
